.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background: var(--bg-secondary-color);
  width: clamp(280px, 50vw, 420px);
  padding: 20px;
  border-radius: var(--primary-radius);
  border: 1px solid var(--secondary-color);
}

.heading {
  margin-bottom: 48px;
  text-align: center;
}

.highlight {
  color: var(--bg-primary-color);
  font-weight: bold;
}
