.answers-wrapper {
    display: grid;
    place-content: center;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
    margin-bottom: 16px;
}

.answer {
    display: flex;
    flex-direction: column;
}

.answer-inputs {
    display: flex;
    align-items: center;
    gap: 16px;
}

.button-container {
    margin-top: 24px;
}